* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color:white;
  background-color:darkslategrey;
}

header {
  padding: 15px;
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
}


/* start navigation */

nav {
  background-color: #a4ac86;
  font-family: 'Montserrat', sans-serif;
}
nav .wrapper {
  width: 800px;
  margin: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #333d29;
}

nav li a:hover {
  background-color: #606c38;
  color: white;
}
/* end navigation */

main {
  padding: 15px;
  width: 800px;
  margin: auto;
  display: flex;
}

article {
  flex-grow: 2;
  flex-basis: 0;
  margin-right: 30px;
}
figure {
  margin: 0;
}
aside {
  border: 1px solid #283618;
  padding: 15px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
figure img {
  width: 100%;
}
footer {
  background-color: #a4ac86;
  color: #333d29;
}
footer .wrapper {
  width: 800px;
  margin: auto;
  padding: 15px;
}
form {
  box-sizing: border-box;
}

/* ===============
TYPOGRAPHY
=============== */

body {
  font-family: 'Montserrat', sans-serif;
}

/* ===============
BUTTONS
=============== */

input[type="reset"] {
  color: #7f4f24;
  padding: 12px 20px;
  border: 1px solid #7f4f24;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #afb4b2;
}

input[type="submit"] {
  background-color: #a68a64;
  color: rgb(190, 189, 189);
  padding: 12px 20px;
  border: 1px solid #582f0e;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #dda15e;
}

/* ===============
STRUCTURE
=============== */

.wrapper-form {
  border-radius: 5px;
  background-color: #a4ac86;
  padding: 20px;
  max-width: 600px;
  max-height:fit-content ;
  margin: 0 auto;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
FORM CONTROLS
=============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav .menu-label {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    padding-right: 8px;
  }

  nav .toggle {
    display: none;
  }

  main {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav ul,
  main {
    width: 1200px;
    margin: 0 auto;
}}
