/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}


body {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  background-color:black;
}
.container > * {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.12);
  padding: 0.85em;
  border: solid 1px rgba(110,133,156,0.15);
}

header {
  background-color: #3f8abf;
}

nav {
  background-color: #fbaea8;
}

main {
  background-color: #aad2ed;
  display:flex;
}

aside {
  background-color: #6ad78a; 
}

footer {
  background-color: #6e859c;
}



/* ===================================== 
   Grid Layout
======================================== */
.container {
  height:150vh;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:160px minmax(150px,auto) 100px;
  grid-auto-rows:minmax(50px,auto);
  grid-gap:10px;
  grid-template-areas:
    "header" 
    "nav" 
    "main"
    "aside"
    "footer";
}

header{
  grid-area:header;
}

nav{
  grid-area:nav;
}

main{
  grid-area:main;
}

aside{
  grid-area:aside;
}

footer{
  grid-area:footer;
}



@media all and (min-width: 768px){
  .container{
    grid-template-columns: .5fr 3fr .5fr;
    grid-template-rows: 70px minmax(150,auto) 100px;
    grid-auto-rows:minmax(50px,auto);
    grid-template-areas:
      "header header header"
      "nav main aside"
      "nav footer aside"
      ;
  }
}


@media all and (min-width: 992px){
  
  .container{
    grid-template-areas:
      "header header header"
      "nav main aside"
      "nav footer aside";
  }
}








